* {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #007B8E;
    height: 60px;
    z-index: 10;
}

.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 0 24px;
    list-style: none;
}

.navLink {
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

/*HERO*/
.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
    width: 100%;
    background: #12A3BA;
}

.heroSectionContainer {
    display: flex;
    height: 650px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
}

.heroOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 330px;
    color: #fff;
    text-align: center;
    align-self: center;
}

.heroTitle {
    font-size: 88px;
    font-weight: normal;
}

.heroTop {
    font-family: "Exo";
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: -20px;
}

.heroSvg {
    align-self: center;
    height: 200px;
}

.buttonWrapper {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    align-self: center;
    width: 300px;
    height: 40px;
    color: #f6f6f6;
    background-color: #007B8E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
}

.buttonWrapper:hover {
    border: solid 1px #007B8E;
    background-color: #fff;
    color: #007B8E;
    transform: scale(1.05);
}

/*
.buttonWprFive {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    align-self: center;
    width: 200px;
    height: 40px;
    border: solid 1px #812CC2;
    color: #812CC2;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonIcon {
    max-width: 20px;
}

.buttonText {
    font-size: 16px;
}
*/

/*Section One*/

.sectionOne {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    background: #fff;
}

.sectionOneContainer {
    display: flex;
    height: 680px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
}

.topCornerOne {
    width: 130px;
    height: 80px;
    background-color: #E2E3E5;
}

.sectionTopTitle {
    font-size: 40px;
    font-weight: bold;
    max-width: 75%;
    color: #0E7A8B;
    margin-top: -140px;
    margin-left: 20px;
}

.oneSvg {
    max-width: 300px;
    align-self: center;
}

.sectionTitle {
    font-size: 28px;
    font-weight: normal;
    max-width: 75%;
}

.sectionDescription {
    font-size: 16px;
    margin-top: 5px;
    color: #41414a;
}

.iconsWrapper {
    margin-top: 20px;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonWrapperTwo {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    width: 200px;
    height: 40px;
    background: #007B8E;
    color: #f6f6f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all .5s ease-in-out;
}

.buttonWrapperTwo:hover {
    border: solid 1px #007B8E;
    background-color: #fff;
    color: #007B8E;
    transform: scale(1.05);
}

.buttonText {
    font-family: "Raleway";
    font-size: 14;
    font-weight: 400;
}


/* Section Proj*/

.sectionProj {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    background: #12A3BA;
}

.sectionProjContainer {
    display: flex;
    height: 680px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
}

.sectionTopTitleWhite {
    color: #fff;
    font-size: 40px;
    z-index: 2;
}

.topCornerProj {
    background-color: #0E7A8B;
    width: 200px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 1660px;
}

.boxiGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.boxiUnit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 30px;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

.boxiUnit:hover {
    transform: scale(1.05);
    border-bottom: solid 3px #007B8E;
}

.boxiIcon {
    margin-right: 10px;
    align-self: center;

}

.boxiName {
    color: #f6f6f6;
    font-size: 24px;
}

.boxiDescription {
    color: #F2F3F5;
    font-size: 16px;
}

.projectsSvg {
    align-self: center;
    max-width: 300px;
}

.buttonWprTwo {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    align-self: center;
    width: 140px;
    height: 40px;
    background: #812CC2;
    color: #f6f6f6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}



/* Section Two*/

.sectionTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    background: #f4f4f4;
}

.sectionTwoContainer {
    display: flex;
    height: 680px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
}

.sectionTopTitleBlue {
    color: #0E7A8B;
    font-size: 40px;
    z-index: 2;
}

.topCornerTwo {
    background-color: #E2E3E5;
    width: 330px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 2460px;
}

.teachersGroup {
    display: flex;
}

.teachersUnit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 85px;
    transition: all .5s ease-in-out;
}

.picDiv {
    width: 60px;
    height: 60px;
    background-color: #ff5757;
}

.teachersPic {
    max-width: 60px;
    margin-top: -55px;
    margin-left: 10px;
}

.teachersName {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.teachersFunction {
    font-size: 12px;
}


.directorsGroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.directorsUnit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 85px;
    transition: all .5s ease-in-out;    
}

.picDivTwo {
    width: 57px;
    height: 57px;
    background-color: #12A3BA;
}

.directorsPic {
    width: 57px;
    margin-top: -52px;
    margin-left: 10px;
}

.directorsName {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}

.directorsFunction {
    font-size: 11px;
}

.teachersUnit:hover,
.directorsUnit:hover {
    transform: scale(1.2);
}

.squadSvg {
    max-height: 125px;
}

/* Section Three */
.sectionThree {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    background: #12A3BA;
}

.sectionThreeContainer {
    display: flex;
    height: 680px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
}

.topCornerThree {
    background-color: #0E7A8B;
    width: 220px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 3265px;
}

.contactSvg {
    max-width: 250px;
    align-self: center;
}

.sectionTitleWhite {
    font-size: 28px;
    font-weight: normal;
    max-width: 75%;
    color: #f6f6f6;
}

.sectionDescriptionWhite {
    font-size: 16px;
    margin-top: 5px;
    color: #E2E3E5;
}

.contactBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    margin-top: 15px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
    max-width: 176px;
}

.contactBox:hover {
    transform: scale(1.05);    
}

.contactText {
    color: #F6F6F6;
    font-size: 14px;
}

.phoneGroup {
    display: grid;
    grid-template-columns: 50% 50%;
}

.buttonWrapperThree {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    width: 150px;
    height: 40px;
    background: #007B8E;
    color: #f6f6f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all .5s ease-in-out;
    align-self: flex-start;
}

.buttonWrapperThree:hover {
    border: solid 1px #007B8E;
    background-color: #fff;
    color: #007B8E;
    transform: scale(1.05);
}

.buttonTextThree {
    font-family: "Raleway";
    font-size: 14;
    font-weight: 400;
}

.iphone {
    align-self: flex-start;
    margin-top: 45px;
    max-width: 176px;
}

/*FOOTER*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background: #000;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
    height: 175px;
    width: 400px;
}

.footerOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoGroup {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoImg {
    max-width: 45px;
    margin-right: 10px;
}

.footerLogo {
    font-size: 40px;
    font-weight: normal;
    color: #d4d4d4;
}

.footerLinks {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px 20px;
    font-weight: 500;
    row-gap: 10px;
    color: #e5e5e5;
}

.footerLink {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

.footerTwo {
    color: #c4c4c4;
    font-size: 14px;
}